<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
</head>
<body>

<div id="errormsg" style="display:none"></div>
<div>
    <form th:method="POST" th:object="${userForm}">
    <div class="form-group">
        Hasło:
        <input type="password" th:field="*{password}"
               class="form-control" placeholder="" required="true" autofocus="true"/>
    </div>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Zmień hasło"/>

    </form>

</div>

</body>
</html>