<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
</head>
<body>

<div th:replace="shared/header :: header('registrationForm')"/>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div sec:authorize="isAuthenticated()">
                <a>Rezerwacja pokoju</a>
            </div>
        </div>
        <div class="col-sm-8 text-left">

            <form th:method="POST" th:object="${roomReservation}" th:action="@{/reservationFormUSR.html}">
                <fieldset>


                    <div class="form-group">
                        <label for="name" class="bmd-label-floating"></label>
                        <input id="name" type="text" name="name" th:value="*{name}"
                               class="form-control" th:classappend="${#fields.hasErrors('name')}?'is-invalid'"
                               required="true" autofocus="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('name')}">
                            <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="model" class="bmd-label-floating">Nazwa:</label>
                        <input id="model" type="text" th:field="*{model}"
                               class="form-control" th:classappend="${#fields.hasErrors('model')}?'is-invalid'"
                               required="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('model')}">
                            <p th:each="err : ${#fields.errors('model')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price" class="bmd-label-floating">Cena:</label>
                        <input id="price" type="text" th:field="*{price}"
                               class="form-control" th:classappend="${#fields.hasErrors('price')}?'is-invalid'"
                               required="true"/>
                        <div class="error text-danger" th:if="${#fields.hasErrors('price')}">
                            <p th:each="err : ${#fields.errors('price')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="productionDate" class="bmd-label-floating">Data produkcji:</label>
                        <input id="productionDate" type="date" th:field="*{productionDate}"
                               class="form-control" th:classappend="${#fields.hasErrors('productionDate')}?'is-invalid'"
                               required="true"/>
                        <div class="error text-danger" th:if="${#fields.hasErrors('productionDate')}">
                            <p th:each="err : ${#fields.errors('productionDate')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="bmd-label-floating">
                            <input type="checkbox" th:field="*{exclusive}"/>
                            Ekskluzywny?
                        </label>
                    </div>

                    <div class="form-group">
                        <select th:field="*{vehicleType.id}" class="form-control"
                                th:classappend="${#fields.hasErrors('vehicleType.id')}?'is-invalid'">
                            <option value="-1">--wybierz typ pojazdu--</option>
                            <option th:each="type : ${vehicleTypes}"
                                    th:value="${type.id}"
                                    th:text=" ${type.name}"
                            />
                        </select>
                        <div class="error text-danger" th:if="${#fields.hasErrors('vehicleType.id')}">
                            <p th:each="err : ${#fields.errors('vehicleType.id')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div th:each="acc : ${accessoryList}" class='checkbox' style="left:25px;">
                            <input th:id="${acc}" type="checkbox" th:field="*{accessories}"
                                   th:value="${acc.id}"/>
                            <label th:text="${acc.name}" th:for="${acc}"></label>
                        </div>

                        <div class="error text-danger" th:if="${#fields.hasErrors('accessories')}">
                            <p th:each="err : ${#fields.errors('accessories')}" th:text="${err}"></p>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-raised">Zapisz</button>
                </fieldset>
            </form>


        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <label style="color:darkred; margin-top: 20px;" sec:authorize="isAuthenticated()">
                    Witaj <span sec:authentication="name"/>!
                </label>
            </div>

        </div>
    </div>
</div>




</body>
</html>