<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
</head>
<body>

<div th:replace="shared/header :: header('reservationFormADM')"/>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">

                <p>Rezerwacja pokoju</p>

        </div>
        <div class="col-sm-8 text-left">

            <form th:method="POST" th:object="${roomReservation}" th:action="@{/reservationFormADM.html}">
                <fieldset>
                    <div class="form-group">
                        <label for="user.login" class="bmd-label-floating">Login użytkownika:</label>
                        <input id="user.login" type="text" th:field="*{user.login}"
                               class="form-control" th:classappend="${#fields.hasErrors('user.login')}?'is-invalid'"
                               required="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('numberOfPeople')}">
                            <p th:each="err : ${#fields.errors('numberOfPeople')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="reservationStartDate" class="bmd-label-floating">Początek pobytu:</label>
                        <input id="reservationStartDate" type="date" th:field="*{reservationStartDate}"
                               class="form-control" th:classappend="${#fields.hasErrors('reservationStartDate')}?'is-invalid'"
                               required="true"/>
                        <div class="error text-danger" th:if="${#fields.hasErrors('reservationStartDate')}">
                            <p th:each="err : ${#fields.errors('reservationStartDate')}" th:text="${err}"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reservationEndDate" class="bmd-label-floating">Koniec pobytu:</label>
                        <input id="reservationEndDate" type="date" th:field="*{reservationEndDate}"
                               class="form-control" th:classappend="${#fields.hasErrors('reservationEndDate')}?'is-invalid'"
                               required="true"/>
                        <div class="error text-danger" th:if="${#fields.hasErrors('reservationEndDate')}">
                            <p th:each="err : ${#fields.errors('reservationEndDate')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="numberOfPeople" class="bmd-label-floating">Liczba osób:</label>
                        <input id="numberOfPeople" type="text" th:field="*{numberOfPeople}"
                               class="form-control" th:classappend="${#fields.hasErrors('numberOfPeople')}?'is-invalid'"
                               required="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('numberOfPeople')}">
                            <p th:each="err : ${#fields.errors('numberOfPeople')}" th:text="${err}"></p>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Dalej"/>

                </fieldset>
            </form>
            <br>
            <div sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-lg btn-block" href="reservationList.html">Anuluj</a>
            </div>
            <div sec:authorize="hasRole('USER')">
                <a class="btn btn-lg  btn-block" href="yourReservationList.html">Anuluj</a>
            </div>

        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <label style="color:darkred; margin-top: 20px;" sec:authorize="isAuthenticated()">
                    Witaj <span sec:authentication="name"/>!
                </label>
            </div>
            <div class="well">
                <a sec:authorize="isAuthenticated()" class="btn btn-success" href="accountDetails.html">Twoje konto</a>

            </div>
        </div>
    </div>
</div>




</body>
</html>