<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <div th:replace="shared/header :: header-css"/>
</head>
<body>

<div th:replace="shared/header :: header('yourReservationList')"/>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p></p>
            <div sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-success" href="/addUser">Dodaj użytkownika</a>
            </div>
            <br>
            <div sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-success" href="reservationFormADM.html">Dodaj rezerwację</a>
            </div>

            <div sec:authorize="hasRole('USER')">
                <a class="btn btn-success" href="reservationFormUSR.html">Zarezerwuj pokój</a>

            </div>
        </div>
        <div class="col-sm-8 text-left">



            <div th:if="${roomReservationListPage.hasContent() eq false}">
                <span>Brak rezerwacji</span>
            </div>
            <div th:if="${roomReservationListPage.hasContent() eq true}">

                Baza zawiera [[${roomReservationListPage.totalElements}]] rezerwacji
            </span>

            </div>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Numer pokoju</th>
                    <th>Opcje</th>
                    <th>Początek rezerwacji</th>

                    <th>Koniec rezerwacji</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Liczba osób</th>
                    <th>Cena </th>
                    <th>Czy opłacono?</th>
                    <th>Czy zweryfikowano?</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="roomReservation : ${roomReservationListPage.content}">

                    <td>
                        <a  th:href="@{/reservationList.html(rid=${roomReservation.room.id})}">[[${roomReservation.room.roomNumber}]]</a>

                    </td>

                    <td style="align-content: center">
                        <span th:if="${roomReservation.reservationStartDate.after(#dates.createNow())}">
                        <a class="btn btn-danger" sec:authorize="isAuthenticated()" th:href="@{/reservationList.html(id=${roomReservation.id})}">Anuluj rezerwację</a>
                        </span>
                        <span th:if="${roomReservation.reservationStartDate.after(#dates.createNow())}">
                            <a class="btn btn-success" th:href="@{/reservationFormUSR.html(id=${roomReservation.id})}">Modyfikuj rezerwację</a>
                        </span>
                        <span th:if="${roomReservation.reservationEndDate.before(#dates.createNow())}">
                            Rezerwacja nieaktualna
                        </span>
                        <span th:if="${roomReservation.reservationEndDate.after(#dates.createNow()) and roomReservation.reservationStartDate.before(#dates.createNow())}">
                            Rezerwacja trwa
                        </span>
                    </td>
                    <td>
                        <span  th:text="${#dates.format(roomReservation.reservationStartDate, 'dd-MM-yyyy')}"></span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(roomReservation.reservationEndDate, 'dd-MM-yyyy')}"></span>

                    </td>
                    <td>
                        <span th:text="${#dates.format(roomReservation.checkInDate, 'dd-MM-yyyy')}"></span>

                    </td>
                    <td>
                        <span th:text="${#dates.format(roomReservation.checkOutDate, 'dd-MM-yyyy')}"></span>

                    </td>
                    <td>
                        <span > [[${roomReservation.numberOfPeople}]]</span>
                    </td>
                    <td>
                        <span > [[${roomReservation.endPrice}]]</span>
                    </td>
                    <td>
                        <div th:if="${roomReservation.paid eq true}">
                            <span > Tak</span>
                        </div>
                        <div th:if="${roomReservation.paid eq false}">
                            <span >Nie</span>
                        </div>
                    </td>
                    <td>
                        <div th:if="${roomReservation.verified eq true}">
                            <span > Tak</span>
                        </div>
                        <div th:if="${roomReservation.verified eq false}">
                            <span >Nie</span>
                        </div>
                    </td>



                </tr>

                </tbody>
            </table>
            <div th:replace="shared/pagination :: pager(reservationList.html, ${roomReservationListPage})"></div>



        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <label style="color:darkred; margin-top: 20px;" sec:authorize="isAuthenticated()">
                    Witaj <span sec:authentication="name"/>!
                </label>
            </div>
            <div class="well">
                <a sec:authorize="isAuthenticated()" class="btn btn-success" href="accountDetails.html">Twoje konto</a>

            </div>
        </div>
    </div>
</div>




</body>
</html>