<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:fragment="header-css">

        <link href="welcome">
        <link href="welcome">
        <link href="https://fonts.googleapis.com/css?family=Inria+Serif&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">


    </div>
</head>

<body>

<nav th:fragment="header(pageName)" id="header" class="navbar navbar-expand bg-dark flex-column flex-md-row">
    <div class="navbar-nav-scroll">


            <ul class="nav nav-tabs bg-dark">
                <li class="nav-item"><a class="nav-link" href="#" style="font-family: 'Inria Serif', serif">woods</a></li>
                <li class="nav-item">  <a class="nav-link" th:classappend="${pageName eq 'welcome'}?'active'" th:href="@{/}" >Strona główna</a></li>
                <li class="nav-item" sec:authorize="isAnonymous()" ><a class="nav-link"  th:classappend="${pageName eq 'registration'}?'active'" href="/registration">Rejestracja</a></li>
                <li class="nav-item">  <a class="nav-link" th:classappend="${pageName eq 'contact'}?'active'" th:href="@{/contact}" >Kontakt</a></li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')" ><a class="nav-link"  th:classappend="${pageName eq 'reservationList'}?'active'" th:href="@{/reservationList.html(all)}">Rezerwacje</a></li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')" ><a class="nav-link"  th:classappend="${pageName eq 'roomList'}?'active'" th:href="@{/roomList.html}">Pokoje</a></li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')" ><a class="nav-link"  th:classappend="${pageName eq 'yourReservationList'}?'active'" th:href="@{/yourReservationList.html}">Twoje rezerwacje</a></li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')" ><a class="nav-link"  th:classappend="${pageName eq 'userList'}?'active'" th:href="@{/userList.html(all)}">Użytkownicy</a></li>

            </ul>        </div>

            <ul class="nav-tabs navbar-nav ml-md-auto bg-dark">
                <li class="nav-item" sec:authorize="isAnonymous()" ><a class="nav-link"  th:classappend="${pageName eq 'login'}?'active'" href="/login">Zaloguj się</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()" ><a class="nav-link"  th:classappend="${pageName eq 'login'}?'active'" href="/logout">Wyloguj się</a></li>

                <!--
                <li class="nav-item" sec:authorize="isAuthenticated()" th:class="${pageName eq 'login'}? 'active'">
                    <a class="nav-link" href="#" onclick="document.getElementById('logout').submit()">Wyloguj się</a>
                    <form th:action="@{/logout}" id="logout" method="post" style="display: none;"/>
                    </li>
                    -->

            </ul>



</nav>


</body>


</html>